<div th:fragment="header">
    <div class="py-3 mb-2 border-bottom">
        <div class="container d-flex flex-wrap justify-content-between">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <use xlink:href="#bootstrap"></use>
                <span class="fs-4">Hello [[${#httpServletRequest.remoteUser}]]!</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign out" class="btn btn-outline-primary">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>